html,body{
  width:100%;
  height:100%;
}

#web-wrapper{
  width:100%;
  height:100%;
}

#web-header{
  height: 300px;
  width: 100%;
  background-color: #009688;
}

#web-header .welcoming{
  text-align: center;
  color:white;
}

.welcoming h2{
  font-weight: 200;
}

#web-content{
  background: white;
  margin-top: -5%;
  height: 20%;
}
